@import '../../colors.scss';
header{
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    background-color: $colorSolid;
    color: $colorLight;
    .userZone,.paginas{
        cursor: pointer;
        width: 20vw;
        display: flex;
        justify-content: space-between;
    }
    a{
        all:unset;
        padding: 0.5em;
        transition: 0.5s;
    }
    a:hover{
        color:$colorSoft
    }
    .active-link{
        background-color: $colorDark;
    }
}
// header{
//     display: flex;
//     justify-content: space-between;
//     padding: 0.8em;
//     background-color: $colorSolid;
//     color: $colorLight;
// }
// header .userZone, header .paginas{
//     cursor: pointer;
//     width: 20vw;
//     display: flex;
//     justify-content: space-between;
// }