@import '../../colors.scss';

footer {
  display: flex;
  justify-content: space-between;
  background-color: $colorSolid;
  color: $colorLight;

  div {
    display: flex;
    flex-direction: column;
    padding: 0.5em;

    h5 {
      font-weight: 700;
    }

    span {
      font-size: 0.7em;
    }
  }
}
