<footer>
    <div class="info">
        <h5>Get to Know Us</h5>
        <span>Careers
        </span>
        <span>Blog</span>
    </div>
    <div class="aboutus">
        <h5>Make Money with Us</h5>
        <span>Contact</span>
        <span>About us</span>
    </div>
    
    <div class="aboutus">
        <h5>Amazon Payment Products</h5>
        <span>Contact</span>
        <span>About us</span>
    </div>
    <div class="aboutus">
        <h5>Let Us Help You</h5>
        <span>Your Account</span>
        <span>Your Orders</span>
    </div>
</footer>
